.sidebar {
    width: 120px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: sticky;
    top: 0;

}

.sidebar a {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    font-size: 15px;
    width: 100%;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #555;
}

.toggle-button {
    background: none;
    border: none;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;

}

.toggle-button:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
}

.status-check {
    color: black;
    margin-bottom: 10px;
}

.status-index {
    color: black;
    font-size: 12px;
}




