.menu-add-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.menu-add-form {
    display: flex;
    gap: 20px;
}

.form-left-div {
    flex: 3;
}

.form-right-div {
    flex: 7;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-preview {
    height: 50px;
    margin-top: 15px;
    text-align: center;
}

.image-preview img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
