form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

label {
    font-size: 18px; /* Adjust font size as needed */
    margin: 10px 0 5px; /* Space above and below labels */
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure label takes full width */
}


input {
    padding: 10px; /* Add some padding for input */
    width: 100%; /* Full width for input */
    box-sizing: border-box; /* Include padding in width */
    margin-bottom: 15px; /* Space below input */
    font-size: 16px; /* Adjust font size */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 4px; /* Rounded corners */
}

