.processing-container {
    display: flex;
    overflow: hidden;
    gap: 20px;
}

.reservation-bar {
    flex: 3;
    height: 100%;
    background-color: #2e2e2e;
    color: white;
    border-right: solid #444;
}

.tab h2 {
    margin: 0;
}

.reservation-list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 10px;
}

.reservation {
    background-color: #444;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.reservation h3 {
    margin: 0;
    font-size: 12px;
}

.reservation p {
    margin: 5px 0;
    font-size: 12px;
}

.main {
    flex: 7;
    padding: 20px;
    overflow-y: auto;
}

.reservation-details {
    background-color: #f4f4f4;
    font-size: 18px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 80%;
    box-sizing: border-box;
}

.menu section {
    margin-top: 60px;
}

.reservation-details h2 {
    margin-top: 0;
}

.reservation-details ul {
    list-style: none;
    padding: 0;
}

.reservation-details li {
    margin-bottom: 15px;
}

