.sale-container {
    display: flex;
    gap: 20px;
}

.sale-history-div {
    flex: 3;
}

.toggle-buttons {
    width: 350px;
}

.salesCard {
    width: 700px;
}

.sales-month {
    font-size: 25px;
}

.sale-history {
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.sale-graph {
    display: flex;
    flex: 7;
    justify-content: center;
    align-items: center;

}
