.storeInfo-content {
    display: flex;
    width: 80vh;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    align-items: flex-start;
}

.storeInfo-content div {
    margin-bottom: 3px;
    width: 100%;
}

.storeInfo-content span {
    font-size: 1.2em;
    display: block;
    box-sizing: border-box;
}

.storeInfo-title {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 0;
}

.storeInfo-time {
    display: flex;
    flex-direction: column;
}

.storeInfo-time label {
    margin-bottom: 5px;
}

.storeInfo-time label input {
    margin-right: 5px;
}

.storeInfo-time span {
    margin: 0;
    font-size: 1em;

}

.storeInfo-holidays {
    display: flex;
    flex-direction: row;
}

.span-space {
    padding:0px;
    width: 10px;
    margin: 0 5px;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dropdown-button .dropdown-menu {
    width: 100% !important; /* 부모 요소(버튼)의 너비에 맞춤 */
    box-sizing: border-box; /* 패딩과 보더를 포함하여 크기를 계산 */
}