.store-setting {
    background-color: #f6f5fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95vh;
}


.store-settings-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 18px;
}

.store-settings-item:hover {
    background-color: #f0f0f0;
}
