.top-bar {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 25px;
}

.top-bar-logo {
    width: 40px;
    height: 40px;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.status-indicator {
    padding: 0 10px;
    margin-left: 10px;
}

.status-indicator.open {
    color: green;
}

.status-indicator.closed {
    color: red;
}

.login-status {
    margin-left: 15px;
    font-weight: bold;
}

.login-status.logged-in {
    color: green;
}

.login-status.logged-out {
    color: red;
}

.date-time {
    margin-left: auto;
}
